{% extends 'base.html' %}

{% block content %}
<h2>Dashboard</h2>

<!-- KPIs -->
<div class="row mt-4">
    <div class="col-md-3">
        <div class="card p-3 shadow-sm">
            <h6>Total Empresas</h6>
            <h3>{{ total_empresas }}</h3>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 shadow-sm">
            <h6>Total Funcionários</h6>
            <h3>{{ total_funcionarios }}</h3>
        </div>
    </div>
</div>

<!-- GRÁFICOS -->
<div class="row mt-4">

    <!-- Barras -->
    <div class="col-md-6">
        <div class="card p-3 shadow-sm">
            <h6>Funcionários por Empresa</h6>
            <canvas id="barChart"></canvas>
        </div>
    </div>

    <!-- Pizza -->
    <div class="col-md-6">
        <div class="card p-3 shadow-sm">
            <h6>Distribuição</h6>
            <canvas id="pieChart"></canvas>
        </div>
    </div>

</div>

<!-- Linha -->
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card p-3 shadow-sm">
            <h6>Crescimento</h6>
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</div>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const nomes = {{ nomes_empresas|safe }};
    const valores = {{ qtd_funcionarios|safe }};
    const dias = {{ dias|safe }};
    const crescimento = {{ valores|safe }};

    // Gráfico de barras
    new Chart(document.getElementById('barChart'), {
        type: 'bar',
        data: {
            labels: nomes,
            datasets: [{
                label: 'Funcionários',
                data: valores
            }]
        }
    });

    // Gráfico de pizza
    new Chart(document.getElementById('pieChart'), {
        type: 'pie',
        data: {
            labels: nomes,
            datasets: [{
                data: valores
            }]
        }
    });

    // Gráfico de linha
    new Chart(document.getElementById('lineChart'), {
        type: 'line',
        data: {
            labels: dias,
            datasets: [{
                label: 'Crescimento',
                data: crescimento,
                fill: true
            }]
        }
    });
</script>

{% endblock %}